.header{
    width:100%;
    background-color: #fff;
    color:#2e3d49;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px 0 rgba(46,61,73,.12);
    padding:1.5rem 0;
}